<div class="menu-bar-container">
  <div class="sub-nav-links">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="sub-nav-item cursor-pointer">
      <i class="fa-solid fa-house"></i>
      خانه
    </a>
    <a routerLink="/services" routerLinkActive="active" class="sub-nav-item cursor-pointer">
      <i class="fa-solid fa-border-all"></i>
      خدمات
    </a>

    <a routerLink="/shops" routerLinkActive="active" class="sub-nav-item with-badge cursor-pointer">
      <i class="fa-solid fa-bag-shopping"></i>
      فروشگاه‌ها
      <span class="badge">%</span>
    </a>

    <a routerLink="/payment" routerLinkActive="active" class="sub-nav-item cursor-pointer">
      <i class="fa-solid fa-wallet"></i>
      پرداخت
    </a>
  </div>
  <div class="search-bar">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <input type="text" placeholder="جستجو در خدمات، فروشگاه‌ها، محصولات" />
  </div>
</div>
