<!--<app-toast-container />-->

<!--@if (!isAuthPage()) {-->
<!--  <app-header (logout)="onLogout()"></app-header>-->
<!--  <app-menu-bar></app-menu-bar>-->
<!--}-->

<!--<main [class.main-layout]="!isAuthPage()">-->
<!--  <router-outlet />-->
<!--</main>-->

<!--@if (!isAuthPage()) {-->
<!--  <app-footer></app-footer>-->
<!--}-->
<app-toast-container />

@if (!isAuthPage()) {
  <app-header (logout)="onLogout()"></app-header>
  <app-menu-bar></app-menu-bar>
}

<div [class.hide-during-loading]="loadingService.isLoading()">
  <router-outlet></router-outlet>
</div>

@if (!isAuthPage()) {
  <app-footer></app-footer>
}
<app-loading
  [visible]="loadingService.isLoading()"
  [message]="loadingService.message()"
  [overlay]="true"
  [fullScreen]="false"
  variant="spinner"
  size="md"
/>
